//Redefinition des classes
.btm-header{
    background-image: url("./../../Assets/Game/Illustrations/Batgame_1.png");
    .btm-header-intro{
        text-align: left;
        margin-left: 15%;
    }
}
