*{
    margin: 0;
    padding: 0;
    background-image: linear-gradient();
}
body{
    background-color: black;
}
.btm-container{
    width: 100%;
    height: 100%;
}
//*************Stylisation des bar**********************
.btm-bar{
    width: 0px;
    height: 8000px;
    border-left: 2px solid rgba($color: #BCBBBD, $alpha: .5);
    position: absolute;
}
.btm-bar-left{
    @extend.btm-bar;
    top: 0;
    left: 10%;
}
.btm-bar-right{
    @extend.btm-bar;
    top: 0;
    right: 10%;
}

//***********Stylisation du Header**********************
.btm-header{
    background-image: url("../../Assets/Illustrations/Bathome1.png");
    background-size: 100%;
    color: white;
    width: 100%;
    height: 950px;

    .btm-navigation{
        width: 80%;
        height: 200px;
        margin: auto;
        border-bottom: 2px solid rgba($color: #BCBBBD, $alpha: .5);

        ul{
            width: 100%;
            height: 100%;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a{
                text-decoration: none;
                color: #FFF;
                font-size: 30px;
            }
            .btm-header-home:hover{
                    border-bottom:2px solid #FFF;
                    font-weight: bold;
                    transition: 500ms;
            }
            .btm-header-logo:hover{
                border-bottom: 2px solid #FFFF00;
                transition: 300ms;
            }
        }
    }

    //************header-introduction*******************
    .btm-header-intro{
        width: 80%;
        height: 100%;
        margin: auto;
        text-align: center;
        margin-top: 250px;

        p{
            font-size: 27px;
            span{
                font-size: xx-large;
                font-weight: bold;
            }
        }

        //bouton
        .btm-header-btn{
            margin-top: 20px;
            button{
                width: 250px;
                height: 70px;
                margin: 15px;
                font-size: large;
                border: none;
                color: #FFF;
                background: none;
                background-image: linear-gradient(50deg,rgba(254, 254, 254, 0.4), rgba(177, 19, 19, 0.4));

                &:hover{
                    background-image: linear-gradient(50deg,rgba(254, 254, 254, 1), rgba(177,19,19, 1));
                }
            }
        }
    }
}
//***********************Section right***************************
.btm-section-right{
    position: fixed;
    top: 40%;
    right: 6.7%;
    z-index: 200;
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: large;

        li{
            margin-top: 15px;
            a:hover{
                border-bottom: 2px solid #FFFF00;
                transition: 300ms;
            }
        }
    }
}
//****************************les contenu**********************
.btm-card{
    color: #FFF;
    width: 70%;
    margin: auto;
    margin-top: 150px;
    height: auto;

    h1{
        font-weight: bold;
    }
    p{
        font-size: 25px;
        padding-top: 30px;
        padding-right: 150px;
        text-align: justify;
    }

    .btm-photos{
        margin-top: 80px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        img{
            transition: 300ms;
        }
        img:hover{
            transform: scale(110%);
            transition: 300ms;
        }
        figure{
            margin: 0;
            padding: 0;
        }
        legend{
            margin-top: 40px;
            text-align: center;
            font-size: large;
            font-weight: bold;
        }
    }
}
.btm-nemesis-img-title{
    width: 180px;
    position: relative;
    top: 25px;
    left: -6%;
}
.btm-batman-right{
    position: absolute;
    right: 0;
    margin-top: -110px;
}

.btm-justice-league{
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 100;
}
.btm-get-contact{
    color: #FFF;
    width: 100%;
    background-image: linear-gradient(40deg, #313030, #062a3f);
    position: absolute;
    left: 0;
    margin-top: 800px;
    padding-top: 70px;
    padding-bottom: 50px;

    h1{
        text-align: center;
    }
    h2{
         margin-top: 50px;
    }

    form{
        width: 50%;
        margin: auto;
        padding-top: 70px;

        .btm-input{
            width: 100%;
            height: 50px;
            margin-top: 15px;
            border: none;
            background: none;
            border-bottom: 2px solid #c4c4c4;
            outline: none;
            color: #dad3d3;
            font-size: 20px;
        }
        select{
            border: none;
            background: none;
            border-bottom: 2px solid #c4c4c4;
            width: 100%;
            height: 50px;
            color: #dad3d3;
            outline: none;
            font-size: 20px;
        }

        .btm-container-btn{
            margin-left: 25%;
        }
        .btm-contact-btns{
            margin-top: 50px;
            background: none;
            width: 100px;
            height: 40px;
            color: #FFF;
            margin-left: 15px;
            border: 2px solid;
            border-image: linear-gradient(40deg, #FFF, #19587D);
            border-image-slice: 1;
        }
        .btm-contact-btn-confirm{
            width: 250px;
            height: 70px;
            margin-top: 50px;
            margin-left: 35%;
            font-size: large;
            border: none;
            color: #FFF;
            background: none;
            background-image: linear-gradient(50deg,rgba(254, 254, 254, 0.4), rgba(177, 19, 19, 0.4));

                &:hover{
                    background-image: linear-gradient(50deg,rgba(254, 254, 254, 1), rgba(177,19,19, 1));
                }
        }
        
    }
    .btm-popup{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.527);

        div{
            margin: auto;
            width: 600px;
        }
        z-index: 600;
        display: none;
    }

    z-index: 100;
}
#confirmation:checked ~ .btm-popup{
    display: block;
}
#confirmation{
    display: none;
}
//******************Citation*************
.btm-footer{
    color: #FFF;
    margin: auto;
    margin-top: 1900px;
    width: 60%;
    .btm-citation p{
        width: 100%;
        font-size: x-large;
        font-weight: bold;
        text-align: center;

        span{
            font-size: large;
            font-weight: 100;
        }
    }
    .btm-guillemet-end{
        float: right;
    }

    footer{
        margin-top: 200px;
        text-align: center;
        p{
            font-size: small;
            img{
                margin-top: 10px;
            }
        }
        .btm-footer-link{
            margin: auto;
            width: 30%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            img{
                padding: 10px;
            }
        }
    }
}

//************************Multimedia****************************
.btm-multimedia{
    margin-top: 800px;
    color: #FFF;
    background: #062a3f;
}