* {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(); }

body {
  background-color: black; }

.btm-container {
  width: 100%;
  height: 100%; }

.btm-bar, .btm-bar-left, .btm-bar-right {
  width: 0px;
  height: 100vh;
  border-left: 2px solid rgba(188, 187, 189, 0.5);
  position: fixed; }

.btm-bar-left {
  top: 0;
  left: 10%; }

.btm-bar-right {
  top: 0;
  right: 10%; }

.btm-header {
  background-image: url("../../Assets/Illustrations/Bathome1.png");
  background-size: 100%;
  color: white;
  width: 100%;
  height: 950px; }
  .btm-header .btm-navigation {
    width: 80%;
    height: 200px;
    margin: auto;
    border-bottom: 2px solid rgba(188, 187, 189, 0.5); }
    .btm-header .btm-navigation ul {
      width: 80%;
      height: 100%;
      margin: auto;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .btm-header .btm-navigation ul a {
        text-decoration: none;
        color: #FFF;
        font-size: 30px; }
      .btm-header .btm-navigation ul .btm-header-home:hover {
        border-bottom: 2px solid #FFF;
        font-weight: bold;
        transition: 500ms; }
      .btm-header .btm-navigation ul .btm-header-logo:hover {
        border-bottom: 2px solid #FFFF00;
        transition: 300ms; }
  .btm-header .btm-header-intro {
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
    margin-top: 250px; }
    .btm-header .btm-header-intro p {
      font-size: 27px; }
      .btm-header .btm-header-intro p span {
        font-size: xx-large;
        font-weight: bold; }
    .btm-header .btm-header-intro .btm-header-btn {
      margin-top: 20px; }
      .btm-header .btm-header-intro .btm-header-btn button {
        width: 250px;
        height: 70px;
        margin: 15px;
        font-size: large;
        border: none;
        color: #FFF;
        background: none;
        background-image: linear-gradient(50deg, rgba(254, 254, 254, 0.4), rgba(177, 19, 19, 0.4)); }
        .btm-header .btm-header-intro .btm-header-btn button:hover {
          background-image: linear-gradient(50deg, #fefefe, #b11313); }

.btm-section-right {
  position: fixed;
  top: 40%;
  right: 6.7%;
  z-index: 200; }
  .btm-section-right ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: large; }
    .btm-section-right ul li {
      margin-top: 15px; }
      .btm-section-right ul li a:hover {
        border-bottom: 2px solid #FFFF00;
        transition: 300ms; }

.btm-fleche-vers-bas {
  width: 100%;
  text-align: center; }

.btm-card {
  color: #FFF;
  width: 70%;
  margin: auto;
  margin-top: 150px;
  height: auto; }
  .btm-card h1 {
    font-weight: bold; }
  .btm-card p {
    font-size: 25px;
    padding-top: 30px;
    padding-right: 150px;
    text-align: justify; }
  .btm-card .btm-photos {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .btm-card .btm-photos img {
      transition: 300ms; }
    .btm-card .btm-photos img:hover {
      transform: scale(110%);
      transition: 300ms; }
    .btm-card .btm-photos figure {
      margin: 0;
      padding: 0; }
    .btm-card .btm-photos legend {
      margin-top: 40px;
      text-align: center;
      font-size: large;
      font-weight: bold; }

.btm-nemesis-img-title {
  width: 180px;
  position: relative;
  top: 25px;
  left: -6%; }

.btm-batman-right {
  position: absolute;
  right: 0;
  margin-top: -110px; }

.btm-justice-league {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 100; }

.btm-get-contact {
  color: #FFF;
  width: 100%;
  background-image: linear-gradient(40deg, #313030, #062a3f);
  position: absolute;
  left: 0;
  margin-top: 200px;
  padding-top: 70px;
  padding-bottom: 50px;
  z-index: 100; }
  .btm-get-contact h1 {
    text-align: center; }
  .btm-get-contact h2 {
    margin-top: 50px; }
  .btm-get-contact form {
    width: 50%;
    margin: auto;
    padding-top: 70px; }
    .btm-get-contact form .btm-input {
      width: 100%;
      height: 50px;
      margin-top: 15px;
      border: none;
      background: none;
      border-bottom: 2px solid #c4c4c4;
      outline: none;
      color: #dad3d3;
      font-size: 20px; }
    .btm-get-contact form select {
      border: none;
      background: none;
      border-bottom: 2px solid #c4c4c4;
      width: 100%;
      height: 50px;
      color: #dad3d3;
      outline: none;
      font-size: 20px; }
    .btm-get-contact form .btm-container-btn {
      margin-left: 25%; }
    .btm-get-contact form .btm-contact-btns {
      margin-top: 50px;
      background: none;
      width: 100px;
      height: 40px;
      color: #FFF;
      margin-left: 15px;
      border: 2px solid;
      border-image: linear-gradient(40deg, #FFF, #19587D);
      border-image-slice: 1; }
    .btm-get-contact form .btm-contact-btn-confirm {
      width: 250px;
      height: 70px;
      margin-top: 50px;
      font-size: large;
      border: none;
      color: #FFF;
      background: none;
      background-image: linear-gradient(50deg, rgba(254, 254, 254, 0.4), rgba(177, 19, 19, 0.4)); }
      .btm-get-contact form .btm-contact-btn-confirm:hover {
        background-image: linear-gradient(50deg, #fefefe, #b11313); }
  .btm-get-contact .btm-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    z-index: 600;
    display: none; }
    .btm-get-contact .btm-popup div {
      margin: auto;
      width: 600px; }

#confirmation:checked ~ .btm-popup {
  display: block; }

#confirmation {
  display: none; }

.btm-footer {
  color: #FFF;
  margin: auto;
  margin-top: 1400px;
  width: 60%; }
  .btm-footer .btm-citation p {
    width: 100%;
    font-size: x-large;
    font-weight: bold;
    text-align: center; }
    .btm-footer .btm-citation p span {
      font-size: large;
      font-weight: 100; }
  .btm-footer .btm-guillemet-end {
    float: right; }
  .btm-footer footer {
    margin-top: 200px;
    text-align: center; }
    .btm-footer footer p {
      font-size: small; }
      .btm-footer footer p img {
        margin-top: 10px; }
    .btm-footer footer .btm-footer-link {
      margin: auto;
      width: 30%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-around; }
      .btm-footer footer .btm-footer-link img {
        padding: 10px; }

.btm-multimedia {
  color: #FFF;
  width: 80%;
  margin: auto;
  margin-top: 800px; }
  .btm-multimedia h1 {
    margin-left: 5%; }

.btm-bande-annoce-content {
  width: 50%;
  margin: auto;
  background: #062a3f;
  border-radius: 10px;
  margin-top: 50px; }
  .btm-bande-annoce-content img {
    float: left;
    height: 300px; }
  .btm-bande-annoce-content .btm-annonce-text {
    height: 270px;
    padding: 15px;
    overflow-y: scroll; }
    .btm-bande-annoce-content .btm-annonce-text p, .btm-bande-annoce-content .btm-annonce-text h1, .btm-bande-annoce-content .btm-annonce-text h2 {
      margin-left: 10px; }

.btm-left-arrow {
  position: absolute;
  left: 15%;
  margin-top: 145px; }

.btm-right-arrow {
  position: absolute;
  right: 15%;
  margin-top: -155px; }

.btm-multimedia-video {
  width: 100%;
  text-align: center;
  margin-top: 150px; }

@media (min-width: 1250px) and (max-width: 1350px) {
  .btm-header {
    height: 700px; }
    .btm-header .btm-header-intro {
      margin-top: 100px; } }
@media (min-width: 940px) and (max-width: 1250px) {
  .btm-header {
    height: 600px; }
    .btm-header .btm-header-intro {
      margin-top: 20px; } }
@media (min-width: 750px) and (max-width: 940px) {
  .btm-header {
    height: 500px; }
    .btm-header .btm-header-intro {
      margin-top: 20px; }
      .btm-header .btm-header-intro p {
        font-size: 20px; }
        .btm-header .btm-header-intro p span {
          font-size: x-large; }
      .btm-header .btm-header-intro .btm-header-btn button {
        height: 40px;
        font-size: small;
        width: 200px; } }
@media (max-width: 750px) {
  .btm-header {
    height: 500px;
    background-size: cover; }
    .btm-header .btm-header-intro {
      margin-top: 20px; }
      .btm-header .btm-header-intro p {
        font-size: 20px; }
        .btm-header .btm-header-intro p span {
          font-size: x-large; }
      .btm-header .btm-header-intro .btm-header-btn button {
        height: 50px;
        font-size: small;
        width: 200px; } }
@media (max-width: 595px) {
  .btm-fleche-vers-bas {
    margin-top: 100px; } }
@media (max-width: 1600px) {
  .btm-section-right {
    position: fixed;
    top: 40%;
    right: 10%;
    width: 0px; }

  .btm-card p {
    padding-right: 10%; }

  .btm-contact-btn-confirm {
    margin-left: 30%; } }

/*# sourceMappingURL=style.css.map */
